# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dataset and generated folders
brain_tumor_dataset/
train/
val/
test/
archive.zip*
*.zip

# Models
*.h5
*.keras
model/*.h5
model/*.keras

# OS files
.DS_Store
Thumbs.db
